.service .service-flters {
    padding: 0 0 20px 0;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

.service .service-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
    margin: 0 10px;
    line-height: 1;
    transition: all 0.3s ease-in-out;
}

.service .service-flters li:hover,
.service .service-flters li.filter-active {
    color: var(--color-primary);
}

.service .service-flters li:first-child {
    margin-left: 0;
}

.service .service-flters li:last-child {
    margin-right: 0;
}

@media (max-width: 575px) {
    .service .service-flters li {
        font-size: 14px;
        margin: 0 5px;
    }
}

.service .service-wrap {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 100%;
    overflow: hidden;
}

.service .service-wrap img {
    transition: 0.3s;
    position: relative;
    z-index: 1;
}

.service .service-wrap .service-info {
    padding: 25px 20px;
    background-color: #fff;
    position: relative;
    border-top: 1px solid #f3f3f3;
    z-index: 2;
}

.service .service-wrap .service-info h4 {
    font-size: 18px;
    font-weight: 600;
    padding-right: 50px;
}

.service .service-wrap .service-info h4 a {
    color: var(--color-default);
    transition: 0.3s;
}

.service .service-wrap .service-info h4 a:hover {
    color: var(--color-primary);
}

.service .service-wrap .service-info p {
    color: #6c757d;
    font-size: 14px;
    margin-bottom: 0;
    padding-right: 50px;
    
}

.service .service-wrap:hover img {
    transform: scale(1.1);
}

/*--------------------------------------------------------------
  # service Details Section
  --------------------------------------------------------------*/
.service-details .service-details-slider img {
    width: 100%;
}

.service-details .service-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 1;
}

.service-details .service-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--color-primary);
}

.service-details .swiper-button-prev,
.service-details .swiper-button-next {
    width: 48px;
    height: 48px;
}

.service-details .swiper-button-prev:after,
.service-details .swiper-button-next:after {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 24px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.service-details .swiper-button-prev:hover:after,
.service-details .swiper-button-next:hover:after {
    background-color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 575px) {

    .service-details .swiper-button-prev,
    .service-details .swiper-button-next {
        display: none;
    }
}

.service-details .service-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.service-details .service-info h3:after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: var(--color-primary);
    left: 0;
    bottom: 0;
}

.service-details .service-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
}

.service-details .service-info ul li {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    font-size: 16px;
}

.service-details .service-info ul strong {
    text-transform: uppercase;
    font-weight: 400;
    color: #9c9c9c;
    font-size: 12px;
}

.service-details .service-info .btn-visit {
    padding: 8px 40px;
    background: var(--color-primary);
    color: #fff;
    border-radius: 50px;
    transition: 0.3s;
}

.service-details .service-info .btn-visit:hover {
    background: #009d8b;
}

.service-details .service-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}

.service-details .service-description p {
    padding: 0;
}

.service-details .service-description .testimonial-item {
    padding: 30px 30px 0 30px;
    position: relative;
    background: white;
    height: 100%;
    margin-bottom: 50px;
}

.service-details .service-description .testimonial-item .testimonial-img {
    width: 90px;
    border-radius: 50px;
    border: 6px solid #fff;
    float: left;
    margin: 0 10px 0 0;
}

.service-details .service-description .testimonial-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0 5px 0;
    padding-top: 20px;
}

.service-details .service-description .testimonial-item h4 {
    font-size: 14px;
    color: #6c757d;
    margin: 0;
}

.service-details .service-description .testimonial-item .quote-icon-left,
.service-details .service-description .testimonial-item .quote-icon-right {
    color: #009d8b;
    font-size: 26px;
    line-height: 0;
}

.service-details .service-description .testimonial-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
}

.service-details .service-description .testimonial-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
    transform: scale(-1, -1);
}

.service-details .service-description .testimonial-item p {
    font-style: italic;
    margin: 0 0 15px 0 0 0;
    padding: 0;
}

.our-service-title {

    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #0f2f57;
}

/* .img-fluid {
    max-width: 100%;
    height:50vhh;
} */
.services .icon-box{
    padding: 83px 80px;
   
}